#board {
    margin: auto;
    border: none;
    border-spacing: 0;
    border: 0;
    width: 800px;
    height: 800px;
}

#board td {
    padding: 0;
}

#board img {
    display: block;
    width: 100%;
}

body {
    background-color: #333333;
}