#board {
    margin: auto;
    border: none;
    border-spacing: 0;
    border: 0;
}

#board td {
    width: 100px;
    height: 100px;
    padding: 0;
}

#board tr {
    stroke-width: 0;
}

#board img {
    display: block;
    width: 100%;
}

body {
    background-color: #333333;
}